pytest
pytest-cov
numpy
matplotlib
scipy
pandas
ipykernel
jupyter
jupyterlab
jupyter_core
scikit-learn
scikit-image
seaborn
graphviz
gpustat
h5py
gitpython
ptvsd
torch
torchvision
torchaudio
wandb
FastAPI
lightning
torchmetrics
--extra-index-url http://24.199.104.228/simple
--trusted-host 24.199.104.228
torchsparse==2.1.0+torch20cu117
